.requests{
 
    
  }
  .mapAndrequest{
    background: url(./App.jpg);
    color: whitesmoke;
    margin-top: 50px;
    position: relative;
    font-size: 20px;
    font-style: oblique
  }
  .allrequests{
    margin-top: 50px;
  }
  