body {

}
.all{
  background-image: url('https://cdn-images-1.medium.com/max/2000/1*0nWrNjNM97WCRnr6pUsSww.jpeg');
  color: white;
  opacity: 0.9;
  color: white;
  width: 1000px;
  height: 1000px;;
}
